*{
    color: #265077;
    /* rgb (38,80,119) */
    color: #022140;
    /* rgb(2,33,64) */
    color: #494B68;
    /* rgb(73,75,104) */
    color: #1E4258;
    /* rgb(30,66,88) */
    color: #2D5F5D;
    /* rgb(45,95,93) */
}